/*General Styles*/
:root {
    box-sizing: border-box;
    --borders: 1px solid #2b2b3a;
 }
 
 html {
    box-sizing: border-box;
 }
 
 *,* ::before, *::after {
    box-sizing: border-box;
 }

body {
    background: #2b2b3a;
    font-family: 'Lucida Sans Unicode', 'Arial', serif;
    color: #2b2b3a;
    border: 20px solid #eafc40;
}


/*header styles*/

header {
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 200vh;
    margin: 10px auto;
    padding: 1em;
    border: green solid 2px; */
    background: url("assets/atv.jpg") no-repeat fixed center / cover;
    text-align: center;
    height: 1000px;;
}

.container {
    display:flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: center;
    margin: 50px;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    background-color: #eafc40;
    margin: none;
    padding: 10px;
    width:250px;
}

.brleft {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.brright {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

a {
    font-size: 20px;
    color: #2b2b3a;
    text-decoration: none;
}

.title {
    padding: 50px;
}

.title h1, h3{
    text-transform: uppercase;      
    text-align: center;
    color: #f4f5f6;
    border: 1em ;
}


/*box styles*/


main {
    margin: 2em;
}

label,input {
    display:block;
}
h1 {
    font-size: 4em;
    text-align: center;
    border: 1em ;
    border-color: 5px solid #ff0000;
}

header > button {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    color: blue;
    font-size: 1.5em;
}
footer {
    margin-top: 2em
}
footer > button {
    background-color: none;
    text-align: center;
}
/* text {
    font-family:'Courier New', Courier, monospace;
    font-size: 1em;
    color: rgb(0,0,0)
} */
main {
    height: 1000px;
}
.bodytxt {
    background-color: white;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 1em;
    padding-bottom: 1em;
}
.centered {
    top: 50%;
    left: 50%;
  }
img {
    object-fit: cover;
    width: 15em;
    height: 15em;
    }
p {
    font-size: 1.5em
}